# Copyright 2025 Colton Loftus
# SPDX-License-Identifier: AGPL-3.0-only

on:
  push:

name: Docker Build and Run

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  docker:
    name: Build and Run Docker
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build Docker Image
        run: |
          docker build -t quickpiperaudiobook .

      - name: Run Docker Container and generate wav
        run: |
          CONTAINER_ID=$(docker run -d -v $(pwd)/examples/lorem_ipsum.txt:/app/examples/lorem_ipsum.txt quickpiperaudiobook /app/examples/lorem_ipsum.txt --verbose)
          docker logs -f $CONTAINER_ID
          docker wait $CONTAINER_ID
          if ! docker cp $CONTAINER_ID:/app/lorem_ipsum.wav ./; then
            echo "Error: lorem_ipsum.wav was not generated in the container!"
            exit 1
          fi
          docker rm $CONTAINER_ID

      - name: Run Docker Container and generate mp3
        run: |
          CONTAINER_ID=$(docker run -d -v $(pwd)/examples:/app/examples quickpiperaudiobook /app/examples/lorem_ipsum.txt --mp3 --output /app --verbose)
          docker logs -f $CONTAINER_ID
          docker wait $CONTAINER_ID
          if ! docker cp $CONTAINER_ID:/app/lorem_ipsum.mp3 ./; then
            echo "Error: lorem_ipsum.mp3 was not generated in the container!"
            exit 1
          fi
          docker rm $CONTAINER_ID
